<h1 class="title">Upcoming Events</h1> 
<% if !!@user %>
  <h3 class="subtitle">Welcome <%= @user.name%></h3> 
  <%= link_to 'Logout', logout_path, method: :post%>
<% else %>
  <%= link_to 'Login', login_path, method: :get%>
<% end %>
<br>
<div class="event-list">
<% @events.each do |event| %>
  <% if !!@user && @user.admin == 1 %>
    <%= render partial: "event", locals: {event: event, admin: @user} %>
  <% else %>
    <%= render partial: "event", locals: {event: event, admin: false} %>
  <% end %>
<% end %>
</div>

<div class="event-form">
  <h1> Create New Event </h1>
  <%= render 'form', event: @event %>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    const id = $(this).data("id");
    let text = $("#body-" + id).text();
    $.getJSON("/events/" + id + ".json", function(data) {
      if(text != data["description"]){
        $("#body-" + id).text(data["description"]);
      }else{
        text = data["description"].substring(0, 27);
        text = text.concat("...");
        $("#body-" + id).text(text);
      }
    });
  });
});
</script>